<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="免费在线教程">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="runoob">
<link rel="stylesheet"  href="../source/css/layout.css" type="text/css">
<title>noser</title>

</head>
<body>
  <ul>
    <li><a >djdjdj</a></li>
    <li><a>djddjd</a></li>
    <li><a>sksksks</a></li>
  <li class="dropdown">
    <a class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    </li>
  </ul>

  </div>
</body>
</html>