<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="免费在线教程">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="runoob">
<link rel="stylesheet"  href="../source/css/layout.css" type="text/css">
<title>noser</title>

</head>
<body>
  <h1>居中对齐元素</h1>

  <p>要使块元素（例如 div）水平居中，请使用 margin: auto;</p>
  
  <div class="center">
    <p>Hello World!</p>
  </div>
  <div class="right">
  <p>在我更年轻，更脆弱的岁月中，父亲给了我一些建议，从那以后我就一直在思考。</p>
</div>
</body>
</html>