<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="免费在线教程">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="runoob">
<title>noser</title>
</head>
<body><div id="section1">这是第1部分</div>
    <h1 href="https://www.runoob.com">我的第一个标题</h1>
    <h1>这是标题 1</h1>
<h2>这是标题 2</h2>
<h3>这是标题 3</h3>
<h4>这是标题 4</h4>
<h5>这是标题 5</h5>
<h6>这是标题 6</h6>
<button>
<a href="https://www.runoob.com">这是一个链接</a>

</button style="color: red;">
<div id="header">This is a header</div>
<p class="text-muted">This is a paragraph.</p>
<span style="color: red;">This text is red.</span>
<br/>
<img src="1385776.jpg" width="258" height="39" />
<hr>
<img src="logo.png" alt="Company Logo">
<hr>
<input type="text" value="Default text" >
<hr>
<a href="https://www.example.com" target="_blank" rel="noopener">Open in new tab</a>
<hr>
<input type="password" name="password">
<hr>
<input type="text" placeholder="Enter your name">
<hr>
<textarea placeholder="请输入"></textarea>
<br>
<abbr title="etcetera">etc.</abbr>
<br />
<acronym title="World Wide Web">WWW</acronym>
<bdo dir="rtl">该段落文字从右到左显示。</bdo>
<br>
<p>My favorite color is <del>blue</del> <ins>red</ins>!</p>
<b>didididiid</b>
<em>fmfvfvfvmfv</em>
<i>nvfdvnfkjvfkd</i>
<strong>dnjnfd</strong>
<code>#include"<stdio.h>"</code>
<address>
Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br> 
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>

<a href="/index.html">本文本</a> 是一个指向本网站中的一个页面的链接。</p>

<p><a href="https://www.microsoft.com/">本文本</a> 是一个指向万维网上的页面的链接。</p>


<a href="https://www.example.com" target="_parent" rel="noopener">新窗口打开 Example</a>
<a href="https://www.example.com" target="_blank" rel="noopener noreferrer">安全链接</a>
<a href="layout/1385776.jpg" download="example.jpg">下载文件</a>
<a href="https://www.example.com" title="访问 Example 网站">访问 Example</a>
<!-- 链接到页面中的某个部分 -->
<a href="#section1">跳转到第1部分</a>
<a href="https://www.example.com/es" hreflang="es">访问西班牙语网站</a>
<a href="style.css" type="text/css">样式表</a>
<a href="https://www.bilibili.com/video/av113747142117692/">
  <img src="layout/1385776.jpg">
</a>
<a id="tips">有用的提示部分</a>
<h1 style="font-family:verdana;">一个标题</h1>
<p style="font-family:arial;color:red;font-size:20px;">一个段落。</p>
<div style="opacity:0.5;position:absolute;left:50px;width:300px;height:150px;background-color:#40B3DF"></div>

<div style="font-family:verdana;padding:20px;border-radius:10px;border:10px solid #EE872A;">

<div style="opacity:0.3;position:absolute;left:120px;width:100px;height:200px;background-color:#8AC007"></div>

<h3>Look! Styles and colors</h3>

<div style="letter-spacing:12px;">Manipulate Text</div>

<div style="color:#40B3DF;">Colors
<span style="background-color:#B4009E;color:#ffffff;">Boxes</span>
</body>
</html>