<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="免费在线教程">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="runoob">

<title>noser</title>
<style>
  /* 设置容器为 flex 容器 */
  #container {
    display: flex;
    flex-wrap: wrap; /* 允许子元素换行 */
    width: 100%; /* 容器宽度为100%，自适应屏幕宽度 */
    overflow: auto; /* 如果内容超出，显示滚动条 */
  }
  /* 设置 header 和 footer 的样式 */
  #header, #footer {
    background-color: #FFA500;
    text-align: center;
    width: 100%; /* header 和 footer 宽度为100% */
  }
  /* 设置 menu 和 content 的样式 */
  #menu, #content {
    background-color: #FFD700;
    height: 200px; /* 固定高度 */
  }
  /* 设置 menu 的样式 */
  #menu {
    background-color: #FFD700;
    width: 100%; /* menu 宽度为100%，在小屏幕上占据整行 */
  }
  /* 设置 content 的样式 */
  #content {
    background-color: #EEEEEE;
    flex-grow: 1; /* content 占据剩余空间 */
    /*overflow: auto;  如果内容超出，显示滚动条 */
    height: auto;
  }
  /* 为 footer 设置清除浮动 */
  #footer {
    clear: both;
  }
  p {
  color: rgb(13, 0, 255);
  /*text-align: center;*/
} 

#para1 {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  color: red;
}
.big{
  font-size: 300%;
}


</style>
</head>
<body>
<div id="container">
  <div id="header">
    <h1 style="margin-bottom:0;">测试各种东西</h1>
  </div>
<div id="content">
  
<p>每个段落都会受到样式的影响。</p>
<p id="para1">我也是！</p>
<p>还有我！</p>
<p class="center">hnvdfhnvfdvidfbvni</p>
<p class="center big">本段将是红色、居中对齐，并使用大字体。</p> 









</div>

<div id="footer">
    版权 © runoob.com
</div>
</div>
</body>
</html>