li{
  display: inline;
}
a{
  text-decoration: none;
  display: block;
  color: blue;
  
}

A{
background-color: brown;
}
B{
background-color: rgb(42, 153, 165);
}
C{
background-color: rgb(110, 165, 42);
}

span{
  display: block;
}
b{
  padding: 100px;
}